@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.header {
  max-width: 1392px;
  height: 145px;
  color: rgba(31, 32, 65, 0.25);
  background-color: 0;
}

.header-logo {
  background-image: url("../img/header-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  width: 48px;
  height: 48px;
}

.header-logo h2 {
  opacity: 0;
}

.header-logo p {
  opacity: 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.colors {
  padding-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500px;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block {
  width: 70px;
  height: 70px;
  background-color: #1F2041;
  margin-bottom: 20px;
  margin-right: 40px;
}

.block-1 {
  background: #1F2041;
  border-radius: 6px;
}

.block-2 {
  background: rgba(31, 32, 65, 0.75);
  border-radius: 6px;
}

.block-3 {
  background: rgba(31, 32, 65, 0.5);
  border-radius: 6px;
}

.block-4 {
  background: rgba(31, 32, 65, 0.25);
  border-radius: 6px;
}

.block-5 {
  background: rgba(31, 32, 65, 0.05);
  border-radius: 6px;
}

.block-6 {
  background: #BC9CFF;
  border-radius: 6px;
}

.block-7 {
  background: #6FCF97;
  border-radius: 6px;
}

.names {
  padding-top: 7px;
}

.names .color-name {
  margin-bottom: 33px;
  height: 57px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  word-wrap: break-word;
  font-size: 19px;
  line-height: 29px;
}

.names .color-name h3 {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  word-wrap: break-word;
  font-size: 19px;
  line-height: 29px;
}

.titles {
  margin-right: -55px;
  width: 557px;
}

.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px;
}

.h1-title-name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
  width: 37px;
}

.h2-title-name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
  width: 37px;
}

.h3-title-name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.25);
  width: 37px;
}

.body-title-name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
  width: 37px;
}

.h1-title-content {
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  width: 340px;
  margin-left: 30px;
  height: 60px;
  padding: 0;
  font-stretch: ultra-condensed;
}

.h2-title-content {
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  width: 340px;
  margin-left: 30px;
  height: 48px;
}

.h3-title-content {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  width: 340px;
  margin-left: 30px;
  height: 15px;
}

.body-title-content {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  width: 301px;
  margin-left: 30px;
  height: 48px;
}
/*# sourceMappingURL=style.css.map */