.colors
        .blocks
            .dark-shade-100
                .block.block-1
            .dark-shade-75
                .block.block-2
            .dark-shade-50
                .block.block-3
            .dark-shade-25
                .block.block-4
            .dark-shade-5
                .block.block-5
            .purple
                .block.block-6
            .green
                .block.block-7
        .names
            .dark-shade-100-name
                h3 Dark Shade 100% 
                p #1F2041
            .dark-shade-75-name
                h3 Dark Shade 75% 
                p #1F2041
            .dark-shade-50-name
                h3 Dark Shade 50% 
                p #1F2041
            .dark-shade-25-name
                h3 Dark Shade 25% 
                p #1F2041
            .dark-shade-5-name
                h3 Dark Shade 5% 
                p #1F2041
            .purple-name
                h3 Purple 
                p #BC9CFF
            .green-name
                h3 Green
                p #6FCF97
.titles