.content    
    .colors
            .blocks
                .dark-shade-100
                    .block.block-1
                .dark-shade-75
                    .block.block-2
                .dark-shade-50
                    .block.block-3
                .dark-shade-25
                    .block.block-4
                .dark-shade-5
                    .block.block-5
                .purple
                    .block.block-6
                .green
                    .block.block-7
            .names
                .color-name
                    h3 Dark Shade 100% 
                    p #1F2041
                .color-name
                    h3 Dark Shade 75% 
                    p #1F2041
                .color-name
                    h3 Dark Shade 50% 
                    p #1F2041
                .color-name
                    h3 Dark Shade 25% 
                    p #1F2041
                .color-name
                    h3 Dark Shade 5% 
                    p #1F2041
                .color-name
                    h3 Purple 
                    p #BC9CFF
                .color-name
                    h3 Green
                    p #6FCF97
    .titles
        .title-block
            .title-name
                p.h1-title-name H1
            .title-content
                p.h1-title-content This one is the sub-section or widget title
        .title-block
            .title-name
                p.h2-title-name H2
            .title-content
                p.h2-title-content Next one is the item title inside widgets
        .title-block
            .title-name
                p.h3-title-name H3
            .title-content
                p.h3-title-content This is a label or CTA text
        .title-block
            .title-name
                p.body-title-name Body
            .title-content
                p.body-title-content This is the body text which is used for most of the design, like paragraphs, lists, etc.