.top-container
    .top-left-container
        .text-field-default
        .text-field-focus
        .dropdown-guests
        .text-field-date
        .dropdown-date
            .dropdown-date-unknown
            .dropdown-date-checked
        .dropdown-filter-date
        .text-field-subscription
    .top-middle-container
        .checkbox-button
            .smoke
            .with-pet
            .with-guest
        .radio-button
            .men
            .women
        .toggle
            .toggle-on
            .toggle-off
        .like-button
            .like-button-on
            .like-button-off
        .rate-button 
            .rate-button-not-full
            .rate-button-full
    .top-right-container
        .range-slider
        .click-buttons
            .click-buttons-fill
                .click-button-fill-inactive
                .click-button-fill-active
            .click-buttons-empty
                .click-button-empty-inactive
                .click-button-empty-active
            .click-buttons-ref
                .click-button-ref-inactive
                .click-button-ref-active
        .go-to-pay-button
        .pagination
.middle-container
    .middle-left-container
        .dropdown-bedroom-default
        .dropdown-bedroom-expanded
        .expandable-checkbox-list-closed
        .expandable-checkbox-list-opened
            .breakfast
            .table
            .chiar
            .bed
            .tv
            .shampoo
    .middle-center-container
        .dropdown-how-much-guests
        .rich-checkbox-button
            .whide-place
            .help-for-invalid
    .middle-right-container
